
#body .post h2
  color: #000
  text-transform: normal
  line-height: .5em

#post 
  > p
    font-size: 1em
    font-weight: 300
    line-height: 1.5em

.posts
  padding-left: 0
  margin-left: 0

  li
    display: table
    & > div
      display: table-cell
  
  .post-blurb
    padding: 5px
      bottom: 10px
    height: 100%
    font-weight: 300
    font-size: 1em

    a 
      color: #000
      font-size: 1.5em
      
    .post-description
      color: $dark-grey

.post.meta
  display: table

  div
    display: table-cell
    vertical-align: top

.post.meta .date-wrapper
  width: 65px

.posts, .post.meta        
  
  .date-wrapper 
    padding-right: 10px

  .date
    width: 55px
    height: 60px
    text-align: right
    padding: 3px
      right: 10px
    border-right: 1px solid #000

    .day
      font-weight: 500
      font-size: 1em

    .year
      font-size: 1.2em
      font-weight: 900

    .day, .year
      line-height: 0
  
