
// TODO create a color palette that is used in the comics as well as the site



// general colors
$dark-grey: #8b7d7b
$medium-grey: #F4F1F1
$light-grey: #d0d0d0

$dark-accent-color: #cdc9c9
$accent-font-color: #8b7d6b

// Specific colors 
$h1-color: $dark-accent-color
$comic-background: $medium-grey
$paging-background: #d0d0d0
$current-panel-background: #000
$title-color: $light-grey
$title-border-color: $dark-grey
$section-color: $medium-grey
$default-border-color: $dark-accent-color

$shadow-color: rgba(0,0,0,0.65)

// #85a96f
$light-green: rgba(133, 169, 111,1)

// #496637
$dark-green: rgba(73, 102, 55,1)