#body .post h2 {
  color: black;
  text-transform: normal;
  line-height: 0.5em; }

#post > p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em; }

.posts {
  padding-left: 0;
  margin-left: 0; }
  .posts li {
    display: table; }
    .posts li > div {
      display: table-cell; }
  .posts .post-blurb {
    padding: 5px;
      padding-bottom: 10px;
    height: 100%;
    font-weight: 300;
    font-size: 1em; }
    .posts .post-blurb a {
      color: black;
      font-size: 1.5em; }
    .posts .post-blurb .post-description {
      color: #8b7d7b; }

.post.meta {
  display: table; }
  .post.meta div {
    display: table-cell;
    vertical-align: top; }

.post.meta .date-wrapper {
  width: 95px; }

.posts .date-wrapper, .post.meta .date-wrapper {
  padding-right: 10px; }
.posts .date, .post.meta .date {
  width: 85px;
  height: 60px;
  text-align: right;
  padding: 3px;
    padding-right: 10px;
  border-right: 1px solid black; }
  .posts .date .day, .post.meta .date .day {
    font-weight: 500;
    font-size: 1em; }
  .posts .date .year, .post.meta .date .year {
    font-size: 1.2em;
    font-weight: 900; }
  .posts .date .day, .posts .date .year, .post.meta .date .day, .post.meta .date .year {
    line-height: 0; }

.post.meta div.highlight {
  display: block; }

.highlight {
  width: 100%; }

pre {
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 4px 4px;
  font-size: 0.8em;
  line-height: 20px;
  margin: 0 0 10px;
  padding: 9.5px;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word; }

code, pre {
  border-radius: 3px 3px 3px 3px;
  color: #333333;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  padding: 0 3px 2px; }

body {
  padding: 4px;
  font-family: sans-serif; }

a {
  text-decoration: none;
  color: #0088cc; }
  a:hover, a:focus {
    color: #005580; }

.container {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80%; }

.projectList {
  list-style: none;
  padding: 0; }
  .projectList li {
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px; }
    .projectList li a {
      font-size: 1.5em;
      color: #cdc9c9;
      text-transform: uppercase; }
    .projectList li p {
      font-size: 1em;
      color: #8b7d6b;
      margin: 0; }

.header {
  display: table;
  width: 100%;
  padding-top: 10px; }

.sub-header {
  display: table;
  height: 30px;
  margin: 0 auto;
  width: 80%; }

.logo {
  display: table-cell;
  width: 150px;
  padding: 5px; }

.nav {
  display: table-cell;
  width: 250px;
  vertical-align: top;
  padding: 5px;
  text-align: right; }
  .nav a {
    color: rgba(66, 47, 2, 0.85);
    font-size: 18px;
    font-variant: small-caps; }
    .nav a:after {
      content: " | ";
      color: black; }
    .nav a.last:after {
      content: ""; }

.title {
  display: table-cell;
  align: right; }

#ad-area {
  width: 234px;
  height: 300px; }

#content {
  width: 100%;
  margin: 0 auto;
  display: table; }

#body, #sidebar {
  display: table-cell;
  vertical-align: top; }

#body {
  width: 100%;
  padding-right: 10px; }
  #body h2 {
    font-size: 2em;
    font-weight: 300;
    text-transform: uppercase;
    color: #d0d0d0; }

#sidebar {
  width: 234px; }

footer {
  border-top: 1px solid rgba(66, 47, 2, 0.85);
  padding: 15px 5px 5px;
  display: table;
  width: 100%; }
  footer .social-icons, footer .random {
    display: table-cell; }
  footer .social-icons {
    font-size: 2em; }
    footer .social-icons a {
      color: rgba(66, 47, 2, 0.85); }
  footer .random {
    text-align: right;
    font-size: 0.8em;
    text-transform: lowercase;
    color: #f4f1f1; }
