body, ul, li, h1, h2, span{
	margin:0;
	padding:0;
}
ul{
	list-style:none;
}
body{
	/* background:#292929; */
	/* background-image: url('http://driedtoast.github.com/random-experiments/images/e037dc5b.texture.jpg'); */

}
.slidingMenu {
	position: absolute;
	height:410px;
	width: 510px;
	top:40px;
	overflow:hidden;
	right:1px;
	font-family: Arial, Helvetica, sans-serif;
}
.slidingMenu li {
	display:block;
	float:right;
	clear:both;
	position:relative;
	overflow:hidden;
}
.slidingMenu li.move {
	width: 9px;
	height: 68px;
	right:0px;
	padding-right:10px;
	margin-top:2px;
	z-index: 8;
	position: absolute;    
	
	
	color: #ddd;
	background-color: rgba(66,47,2,.35);
	
	/* 
	background: #FFC829;     
	background: 
		-webkit-gradient(
			linear, 
			left top, 
			left bottom, 
			from(#FFC829), 
			to(#D19700)
		);     
	background: 
		-moz-linear-gradient(
			top, 
			#FFC829, 
			#D19700
		);     
		*/
	-moz-border-radius: 8px 0px 0px 8px;  
	-webkit-border-top-left-radius: 8px;     	
	-webkit-border-bottom-left-radius: 8px; 
	border-top-left-radius: 8px;  
	border-bottom-left-radius: 8px;        
	-moz-box-shadow:1px 1px 5px #000;
	-webkit-box-shadow:1px 1px 5px #000;
	box-shadow:1px 1px 5px #000;	
	}
.slidingMenu li a:hover {
	color: #ddd;
}	
.slidingMenu li a {
	font-size:50px;
	text-transform:uppercase;
	text-decoration: none;
	color: rgba(126,61,27,.35);
	outline: none;
	text-indent:5px;
	z-index: 10;
	display: block;
	float: right;
	height: 66px;
	line-height: 66px;
	position: relative;
	overflow: hidden;
	padding-right:10px;
}
/* Descriptions */
.slidingMenuDesc{
	margin-top:40px;
	position:relative;
}
.slidingMenuDesc div{
	/* 
	background: #404e55;     
	background: 
		-webkit-gradient(
			linear, 
			left top, 
			left bottom, 
			from(#999999), 
			to(#404e55)
		);     
	background: 
		-moz-linear-gradient(
			top, 
			#999999, 
			#404e55
		);   	
	*/
	
	background-color: rgba(66,47,2,.45);
	
	height: 68px;
	padding-right:5px;
	left:-5px;
	width:0px;
	margin-top:2px;
	overflow:hidden;
	position:absolute;
	-moz-box-shadow:1px 1px 5px #000;
	-webkit-box-shadow:1px 1px 5px #000;
	box-shadow:1px 1px 5px #000;
	-moz-border-radius: 0px 8px 8px 0px;  
	-webkit-border-top-right-radius: 8px;     	
	-webkit-border-bottom-right-radius: 8px; 
	border-top-right-radius: 8px;  
	border-bottom-right-radius: 8px; 
}
.slidingMenuDesc div span {
	font-size:36px;
	color: #f0f0f0;
	text-indent:5px;
	z-index: 10;
	display: block;
	height: 66px;
	line-height: 66px;
	position:absolute;
	right:10px;
	margin-left:5px;
	top:-3px;
}
